---
title: "08wk-1: Pandas (1)"
author: "최규빈"
date: "04/24/2023"
---

<a href="https://colab.research.google.com/github/guebin/PP2023/blob/main/posts/02_PY4DS/2023-04-24-8wk-1.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# import

In [2]:
import numpy as np
import pandas as pd

# 부분 데이터 꺼내기: 판다스를 왜 써야할까?

`-` 예시1: 때로는 인덱스로 때로는 key로 데이터를 부르고 싶다.

In [3]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

학번 '202212471'에 해당하는 학생의 출석점수를 알고 싶다면?

(풀이1) -- dct로 자료를 저장하고 출력

(풀이2) -- ndarray로 자료를 저장하고 출력

**(풀이2)가 (풀이1)에 비하여 불편한 점**

- arr 첫칼럼 student id 이고 두번째 칼럼은 att라는 사실을 암기하고 있어야 한다. 
- student id가 아니고 만약에 학생이름을 써서 데이터를 정리한다면 모든 자료형은 문자형이 되어야 한다. 
- 작성한 코드의 가독성이 없다. (위치로 접근하기 때문)

`-` 요약: hash 스타일로 정보를 추출하는 것이 유용할 때가 있다. 그리고 보통 hash 스타일로 정보를 뽑는 것이 유리하다. (사실 numpy는 정보추출을 위해 개발된 자료형이 아니라 행렬 및 벡터의 수학연산을 지원하기 위해 개발된 자료형이다)

`-` 소망: 정보를 추출할때는 hash 스타일도 유용하다는 것은 이해함 $\to$ 하지만 나는 가끔 넘파이스타일로 정보를 뽑고 싶은걸? 그리고 딕셔너리 형태가 아니고 엑셀처럼(행렬처럼) 데이터를 보고 싶은걸? $\to$ pandas의 개발

# pandas 개발동기

## 엑셀처럼 데이터를 테이블 형태로 정리하고 싶다

(방법1) -- 넘파이

(방법2) -- 판다스 with stacked dict

(방법3) -- 판다스 with index

## 해싱으로 원하는 정보를 뽑으면 좋겠다 (마치 딕셔너리처럼)

`-` 예제1: 출석점수를 출력 (딕셔너리가 되면 판다스도 된다)

`-` 예제2: 학번 `2022-12380` 의 출석점수 출력

## 인덱싱으로 정보를 뽑는 기능도 지원을 하면 좋겠다 (마치 리스트나 넘파이처럼)

`-` 예제1: 첫번째 학생의 기말고사 성적을 출력하고 싶다.

- 벼락치기: df에서 iloc이라는 특수기능을 이용하면 넘파이 인덱싱처럼 원소출력이 가능하다.

> df는 딕셔너리 같은것이지만 df.iloc은 넘파이같은것이라고 생각하면 된다.

`-` 예제2: 홀수번째 학생 의 점수를 뽑고 싶다. (홀수번째 학생은 인덱스 0,2,4,... 에 대응)

`-` 예제3: 맨 끝에서 3명의 점수를 출력하고 싶다.

**참고:** 사용하지 않는 코드

`-` 예제4: 맨 끝에서 3명의 점수중 마지막 2개의 칼럼만 출력하고 싶다.

## 궁극: 해싱과 인덱싱을 모두 지원하는 아주 우수한 자료형을 만들고 싶음

`-` 예제1: 'mid >= 20 and att <60'인 학생들의 'fin'을 출력

(방법1) query 

- 데이터베이스 스타일

(방법2) 넘파이 스타일이라면?

`-` 예제2: '중간고사점수<기말고사점수'인 학생들의 출석점수 평균을 구하자.

# pandas 공부 1단계

## 데이터프레임 선언

`-` 방법1: dictionary에서 만든다.

In [105]:
pd.DataFrame({'att':[30,40,50],'mid':[50,60,70]})

   att  mid
0   30   50
1   40   60
2   50   70

In [106]:
pd.DataFrame({'att':(30,40,50),'mid':(50,60,70)})

   att  mid
0   30   50
1   40   60
2   50   70

In [107]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법: 2차원 ndarray에서 만든다.

In [108]:
np.arange(2*3).reshape(2,3)

array([[0, 1, 2],
       [3, 4, 5]])

In [109]:
pd.DataFrame(np.arange(2*3).reshape(2,3))

   0  1  2
0  0  1  2
1  3  4  5

## 열의 이름 부여

`-` 방법1: 딕셔너리를 통하여 만들면 딕셔너리의 key가 자동으로 열의 이름이 된다.

In [110]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법2: pd.DataFrame()의 옵션에 columns를 이용

In [111]:
pd.DataFrame(np.arange(2*3).reshape(2,3),columns=['X1','X2','X3'])

   X1  X2  X3
0   0   1   2
1   3   4   5

`-` 방법3: df.columns에 원하는 열이름을 덮어씀 (1)

In [112]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [113]:
df.columns = ['X1','X2','X3']

In [114]:
df

   X1  X2  X3
0   0   1   2
1   3   4   5

In [115]:
df.columns

Index(['X1', 'X2', 'X3'], dtype='object')

`-` 방법4: df.columns에 원하는 열이름을 덮어씀 (2)

In [116]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [117]:
df.columns = pd.Index(['X1','X2','X3'])

In [118]:
df

   X1  X2  X3
0   0   1   2
1   3   4   5

방법4가 방법3의 방식보다 컴퓨터가 이해하기 좋다. (= 불필요한 에러 혹은 경고메시지를 방지할 수 있다)

## 행의 이름 부여

`-` 방법1: 중첩 dict이면 nested dic의 key가 알아서 행의 이름으로 된다.

In [119]:
pd.DataFrame({'att':{'guebin':30, 'iu':40, 'hynn':50} , 'mid':{'guebin':5, 'iu':45, 'hynn':90}})

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법2: pd.DataFrame()의 index 옵션 이용

In [120]:
pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]}, index=['guebin','iu','hynn'])

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법3: df.index에 덮어씌움

In [121]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [124]:
df.index = pd.Index(['guebin','iu','hynn'])
#df.index = ['guebin','iu','hynn'] <- 이것도 실행가능하기는함 
df

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법4: df.set_index() 를 이용하여 덮어씌운다

In [122]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [125]:
df.set_index(pd.Index(['guebin','iu','hynn']))

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

In [126]:
df.set_index(['guebin','iu','hynn'])

KeyError: "None of ['guebin', 'iu', 'hynn'] are in the columns"

In [127]:
df.set_index([['guebin','iu','hynn']]) # 꺽쇠를 한번 더 넣어주면 에러를 피할수 있다.

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

## 자료형, len, shape, for문의 반복변수

In [128]:
df = pd.DataFrame({'att':[30,40,50],'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

`-` type

In [129]:
type(df)

pandas.core.frame.DataFrame

`-` len

In [136]:
len(df) # row의 갯수

3

`-` shape

In [133]:
df.shape

(3, 2)

`-` for문의 반복변수

In [139]:
for k in df:
    print(k) # 딕셔너리같죠

att
mid

In [140]:
for k in {'att':[30,40,50],'mid':[5,45,90]}: 
    print(k)

att
mid

**참고:** df는 진짜 딕셔너리 느낌 강해요

In [149]:
df.keys()

Index(['att', 'mid'], dtype='object')

In [151]:
for k,v in df.items():
    print(k)

att
mid

## pd.Series

`-` 2차원 ndarray가 pd.DataFrame에 대응한다면 1차원 ndarray는 pd.Series에 대응한다.

In [156]:
a=pd.Series(np.random.randn(10))
a

0    0.117038
1   -0.350165
2    0.410882
3   -0.763975
4    0.766821
5    1.032189
6    0.404380
7   -0.134916
8   -0.767637
9   -0.642942
dtype: float64

In [157]:
type(a)

pandas.core.series.Series

In [158]:
len(a)

10

In [159]:
a.shape

(10,)

In [160]:
for value in a: 
    print(value)

0.11703802078481768
-0.35016528730819835
0.41088231071285214
-0.7639751186048923
0.7668211908508363
1.0321893952706378
0.4043801221270989
-0.13491594673576462
-0.7676372382412047
-0.6429423233189866

# pandas 공부 2단계

`-` 데이터

In [163]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [7]:
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df.head()

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

## 열의 선택

`-` 방법1: `df[]` + 칼럼이름, 칼럼이름의 list

`-` 방법2: `df.iloc[:,]` + 정수, 정수의 list, range, 슬라이싱, 스트라이딩, bool의 list

`-` 방법3: `df.loc[:,]` + 칼럼이름, 컬럼이름의 list, 칼럼이름으로 슬라이싱($\star$), 칼럼이름으로 스트라이딩($\star$), bool의 list

## 행의 선택

**여기서는 `df=중첩된list` 라고 생각해야 코드가 잘 읽힌다.**

`-` 방법1: `df.iloc[]` + 정수, 정수의리스트, range, 슬라이싱, 스트라이딩, bool의 list

**여기서는 `df=2차원array`라고 생각해야 코드가 잘 읽힌다.**

`-` 방법1: `df.iloc[,:]` + 정수, 정수의리스트, range, 슬라이싱, 스트라이딩, bool의 list

`-` 방법2: `df.loc[,:]` + 인덱스이름의 리스트, 인덱스이름으로 슬라이싱($\star$), 인덱스이름으로 스트라이딩($\star$), bool의 list

## 안썼으면 좋겠는 코드

`-` 제가 안쓰는 코드1:

In [94]:
df['2022-12380':'2022-12370']

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [95]:
df['2022-12380']

KeyError: '2022-12380'

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [101]:
df.iloc[list(df.att<80),:]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12318   55   75   35   25
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35

이러면 마치 아래도 동작할 것 같잖아..

In [102]:
df.iloc[df.att<80,:]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

`-` 참고: 맨날 틀리는 코드

In [104]:
df.loc['att']

KeyError: 'att'

## query ($\star$)

`-` 예제1: att==90 and mid>30

`-` 예제2: att<rep and mid<fin

`-` 예제3: att < rep < 80

`-` 예제4: 50 < att <= 90 and mid < fin

`-` 예제5: (mid+fin)/2 >=60

`-` 예제6: att > mean(att)

`-` 예제7: 학번 <= '2022-12380'

`-` 예제8: 시계열자료에서의 인덱싱 (예제7의 응용)

In [113]:
pd.date_range('20211226',periods=10)

DatetimeIndex(['2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02',
               '2022-01-03', '2022-01-04'],
              dtype='datetime64[ns]', freq='D')

In [114]:
_df=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'),index=pd.date_range('20211226',periods=10))
_df

                   A         B         C         D
2021-12-26  0.106173  0.723759  0.217990  0.194022
2021-12-27 -0.688990 -0.351670  0.990933  1.212147
2021-12-28 -0.608965  0.032549 -1.884089 -0.860866
2021-12-29  0.552755  0.104294 -1.661620 -0.965230
2021-12-30  1.898428  2.625531 -0.381609 -0.948021
2021-12-31  0.453758 -0.716270 -0.167750  0.089546
2022-01-01  0.874006  0.401627  0.204911  1.042722
2022-01-02 -0.352356 -1.241658 -0.434388 -1.436772
2022-01-03 -0.539290  0.018518 -0.573696  0.937827
2022-01-04  1.079232  0.248633 -0.004055  1.266743

In [115]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' ")

                   A         B         C         D
2021-12-29  0.552755  0.104294 -1.661620 -0.965230
2021-12-30  1.898428  2.625531 -0.381609 -0.948021
2021-12-31  0.453758 -0.716270 -0.167750  0.089546
2022-01-01  0.874006  0.401627  0.204911  1.042722
2022-01-02 -0.352356 -1.241658 -0.434388 -1.436772
2022-01-03 -0.539290  0.018518 -0.573696  0.937827

In [240]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' and A+B<C  ")

                   A         B         C         D
2021-12-30 -0.794595 -2.605380  0.283726 -1.832944
2022-01-01 -0.918335  0.402325  0.485921  0.122862
2022-01-03 -0.441720  0.319821  0.705463 -0.027263

`-` 주의: query가 만능은 아니다.

In [116]:
df.columns = pd.Index(['att score', 'rep score', 'mid score', 'fin score'])

In [120]:
df.query(" att score < 90 ")
# df.loc[df['att score'] < 90,:] <-- 이렇게 구현하면 된다! (아니면 변수이름을 바꿔주는 코드를 짜든가)

SyntaxError: invalid syntax (<unknown>, line 1)

# pandas 공부 3단계

`-` df자료형의 메소드를 알아보자.

## 전치

In [248]:
arr = np.arange(2*3).reshape(2,3)
df = pd.DataFrame(ndarray)
df

   0  1  2
0  0  1  2
1  3  4  5

In [249]:
arr.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [250]:
df.T

   0  1
0  0  3
1  1  4
2  2  5

## 합

In [251]:
arr.sum(axis=0)

array([3, 5, 7])

In [252]:
df.sum(axis=0)

0    3
1    5
2    7
dtype: int64

In [254]:
arr.sum(axis=1)

array([ 3, 12])

In [255]:
df.sum(axis=1)

0     3
1    12
dtype: int64

## cumsum

In [256]:
df

   0  1  2
0  0  1  2
1  3  4  5

In [257]:
arr.cumsum(axis=0)

array([[0, 1, 2],
       [3, 5, 7]])

In [258]:
df.cumsum(axis=0)

   0  1  2
0  0  1  2
1  3  5  7

In [259]:
arr.cumsum(axis=1)

array([[ 0,  1,  3],
       [ 3,  7, 12]])

In [260]:
df.cumsum(axis=1)

   0  1   2
0  0  1   3
1  3  7  12

## 형태변환

In [261]:
arr.tolist()

[[0, 1, 2], [3, 4, 5]]

In [262]:
df.to_dict()

{0: {0: 0, 1: 3}, 1: {0: 1, 1: 4}, 2: {0: 2, 1: 5}}

In [263]:
df.to_numpy()

array([[0, 1, 2],
       [3, 4, 5]])

In [264]:
df.to_numpy().tolist()

[[0, 1, 2], [3, 4, 5]]

## 기타메소드.. 생략...

# pandas 공부 4단계~

생략