---
title: "08wk-2: Pandas (2)"
author: "최규빈"
date: "04/26/2023"
---

<a href="https://colab.research.google.com/github/guebin/PP2023/blob/main/posts/02_PY4DS/2023-04-26-8wk-2.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 강의영상

## query ($\star$)

`-` 예제1: att==90 and mid>30

`-` 예제2: att<rep and mid<fin

`-` 예제3: att < rep < 80

`-` 예제4: 50 < att <= 90 and mid < fin

`-` 예제5: (mid+fin)/2 >=60

`-` 예제6: att > mean(att)

`-` 예제7: 학번 <= '2022-12380'

`-` 예제8: 시계열자료에서의 인덱싱 (예제7의 응용)

In [113]:
pd.date_range('20211226',periods=10)

DatetimeIndex(['2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02',
               '2022-01-03', '2022-01-04'],
              dtype='datetime64[ns]', freq='D')

In [114]:
_df=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'),index=pd.date_range('20211226',periods=10))
_df

                   A         B         C         D
2021-12-26  0.106173  0.723759  0.217990  0.194022
2021-12-27 -0.688990 -0.351670  0.990933  1.212147
2021-12-28 -0.608965  0.032549 -1.884089 -0.860866
2021-12-29  0.552755  0.104294 -1.661620 -0.965230
2021-12-30  1.898428  2.625531 -0.381609 -0.948021
2021-12-31  0.453758 -0.716270 -0.167750  0.089546
2022-01-01  0.874006  0.401627  0.204911  1.042722
2022-01-02 -0.352356 -1.241658 -0.434388 -1.436772
2022-01-03 -0.539290  0.018518 -0.573696  0.937827
2022-01-04  1.079232  0.248633 -0.004055  1.266743

In [115]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' ")

                   A         B         C         D
2021-12-29  0.552755  0.104294 -1.661620 -0.965230
2021-12-30  1.898428  2.625531 -0.381609 -0.948021
2021-12-31  0.453758 -0.716270 -0.167750  0.089546
2022-01-01  0.874006  0.401627  0.204911  1.042722
2022-01-02 -0.352356 -1.241658 -0.434388 -1.436772
2022-01-03 -0.539290  0.018518 -0.573696  0.937827

In [240]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' and A+B<C  ")

                   A         B         C         D
2021-12-30 -0.794595 -2.605380  0.283726 -1.832944
2022-01-01 -0.918335  0.402325  0.485921  0.122862
2022-01-03 -0.441720  0.319821  0.705463 -0.027263

`-` 주의: query가 만능은 아니다.

In [116]:
df.columns = pd.Index(['att score', 'rep score', 'mid score', 'fin score'])

In [120]:
df.query(" att score < 90 ")
# df.loc[df['att score'] < 90,:] <-- 이렇게 구현하면 된다! (아니면 변수이름을 바꿔주는 코드를 짜든가)

SyntaxError: invalid syntax (<unknown>, line 1)

# pandas 공부 3단계

`-` df자료형의 메소드를 알아보자.

## 전치

In [248]:
arr = np.arange(2*3).reshape(2,3)
df = pd.DataFrame(ndarray)
df

   0  1  2
0  0  1  2
1  3  4  5

In [249]:
arr.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [250]:
df.T

   0  1
0  0  3
1  1  4
2  2  5

## 합

In [251]:
arr.sum(axis=0)

array([3, 5, 7])

In [252]:
df.sum(axis=0)

0    3
1    5
2    7
dtype: int64

In [254]:
arr.sum(axis=1)

array([ 3, 12])

In [255]:
df.sum(axis=1)

0     3
1    12
dtype: int64

## cumsum

In [256]:
df

   0  1  2
0  0  1  2
1  3  4  5

In [257]:
arr.cumsum(axis=0)

array([[0, 1, 2],
       [3, 5, 7]])

In [258]:
df.cumsum(axis=0)

   0  1  2
0  0  1  2
1  3  5  7

In [259]:
arr.cumsum(axis=1)

array([[ 0,  1,  3],
       [ 3,  7, 12]])

In [260]:
df.cumsum(axis=1)

   0  1   2
0  0  1   3
1  3  7  12

## 형태변환

In [261]:
arr.tolist()

[[0, 1, 2], [3, 4, 5]]

In [262]:
df.to_dict()

{0: {0: 0, 1: 3}, 1: {0: 1, 1: 4}, 2: {0: 2, 1: 5}}

In [263]:
df.to_numpy()

array([[0, 1, 2],
       [3, 4, 5]])

In [264]:
df.to_numpy().tolist()

[[0, 1, 2], [3, 4, 5]]

## 기타메소드.. 생략...

# pandas 공부 4단계~

생략